@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + " [" + (User.IsInRole("Admin") ? "Admin" : User.IsInRole("Pracownik") ? "Pracownik" : User.IsInRole("Kierowca") ? "Kierowca" : "") + "] " + "!", "Index", "Manage", null, new {title = "Zarządzaj"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}