@{
    ViewBag.Title = "O aplikacji";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>System ma wspierać pracowników firmy logistycznej w generowaniu dziennych tras dla kierowców</p>
<p>Aplikacja ma umożliwiać optymalizację trasy wg odległości i kosztów przejazdu</p>
<p>Wizualizacja trasy w systemie map online</p>