@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gabriela Narutowicza 11/12, 
    Politechnika Gdańska<br />
    Gdańsk, 80-233<br />
    <abbr title="Phone">P:</abbr>
    58-347-11-00
</address>

<address>
    <strong>Autor aplikacji:</strong>   <a href="mailto:pawtroka@student.pg.gda.pl">Paweł Troka</a><br />
    <strong>Autor dokumentacji:</strong> <a href="mailto:lukadryc@student.pg.gda.pl">Łukasz Adrych</a>
</address>