@{
    ViewBag.Title = "A route-generation assistant for logistics company";
}

<div class="jumbotron">
    <h1>RGA - system wspierający generowanie tras w firmie logistycznej</h1>
    <p class="lead">Każde przedsiębiorstwo nastawione jest na minimalizowanie kosztów. Aplikacja,
        którą Państwo widziecie daje taką możliwość poprzez wyznaczanie
        najkrótszych tras łączących wszystkie punkty docelowe. Wygenerowana trasa
        jest potem zwizualizowana w jednym z dostępnych systemów map online.
        Zastosowano przyrostowe wytwarzanie systemu metodyką Scrum.</p>
    <p>@Html.ActionLink("Załóż konto już dziś!", "Register", "Account")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cel projektu</h2>
        <p>
            Celem projektu jest stworzenie oprogramowania wspierającego pracowników firmy
            z branży logistycznej (np. kurierzy) w tworzeniu dziennych tras dla kierowców.
            System powinien umożliwiać definiowanie i generowanie tras dla pracowników
            centrali, a także ich przeglądanie i drukowanie dla kierowców. Aplikacja powinna
            umożliwiać optymalizację trasy wg odległości (najkrótsza trasa) oraz kosztów
            (omijanie dróg płatnych).
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Zadania do wykonania</h2>
        <p>1. Zebranie wymagań</p>
        <p>2. Wybór technologii i ogólny projekt systemu</p>
        <p>3. Iteracyjna implementacja, testowanie i prezentacja systemu</p>
        <p>4. Opracowanie dokumentacji projektu i instrukcji użytkownika</p>
        <p></p>
    </div>
    
    
    <div class="col-md-4">
        <h2>Źródła</h2>
        <p>1. Dokumentacja API systemów map online</p>
        <p> 2. K. Schwaber, J. Sutherland, The Scrum Guide, Przewodnik po Scrumie: Reguły
            Gry, Scrum.org, 2013</p>
        <p>3. Dokumentacja wybranych technologii</p>
        <p>4. Wymagania zebrane od opiekuna</p>
        <p></p>
    </div>    
    
    

    <div class="col-md-4">
        <h2>Opiekun pracy</h2>
        <p>mgr inż. Tomasz Gawron.</p>
        <p><a class="btn btn-default" href="http://galaxy.eti.pg.gda.pl/katedry/kio/pracownicy/Tomasz.Gawron/">Zobacz &raquo;</a></p>
    </div>
</div>